/*------------------------------------*\
  #FONTS
\*------------------------------------*/

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: acumin-pro, Helvetica, arial, sans-serif;
    color: #111;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;

    background-color: #F5F6F7;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #e85e00;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 24px;
}

h2 {
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
    font-family: "Times New Roman", serif;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    color: Grey;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: RoyalBlue;
    transition: all .1s ease-in-out;
}

a:visited,
a:active {
    color: BlueViolet;
}

a:hover,
a:focus {
    color: Crimson;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    padding: 24px 24px 0;
    display: flow-root;
}

/* size modifiers */

.o-row--lg {
    padding-top: 48px;
    padding-bottom: 24px;
}

.o-row--xl {
    padding-top: 72px;
    padding-bottom: 48px;
}

@media (min-width: 768px) {
    .o-row {
        padding-left: 48px;
        padding-right: 48px;
    }

    .o-row--md {
        padding-top: 48px;
        padding-bottom: 24px;
    }

    .o-row--lg {
        padding-top: 72px;
        padding-bottom: 48px;
    }
}

@media (min-width: 992px) {
    .o-row--xl {
        padding-top: 96px;
        padding-bottom: 72px;
    }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 512px;
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    display: flow-root;
}

.o-section + .o-section {
    margin-top: 24px;
}

@media (min-width: 768px) {
    .o-section--lg + .o-section--lg,
    .o-section--xl + .o-section--xl {
        margin-top: 48px;
    }
}

@media (min-width: 1200px) {
    .o-section--xl + .o-section--xl {
        margin-top: 72px;
    }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

    .o-layout__item {
        flex-basis: 100%;
    }

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
    padding: 0 12px;
}

.o-layout--gutter-sm {
    margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
    padding: 0 6px;
}

.o-layout--gutter-lg {
    margin: 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
    padding: 0 24px;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
    flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
}

.o-layout--align-baseline {
    align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
    align-content: start;
}

.o-layout--align-content-end {
    align-content: end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}


/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Link reset
    ---
    Small link reset object
*/

.o-link-reset,
.o-link-reset:link,
.o-link-reset:visited,
.o-link-reset:hover {
    text-decoration: none;
    color: black;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
    Component: header
    ---
    Main header of the website
*/

.c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-header__hamburger {
    display: block;
    cursor: pointer;
}

.c-header__nav {
    display: none;
}

@media (min-width: 1024px) {
    .c-header__hamburger {
        display: none;
    }

    .c-header__nav {
        display: block;
        align-self: center;
    }

    .c-header__logo {
        flex: 1;
    }

    .c-header__profile {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
}

/*
    Component: Nav
    ---
    Main navigation of the site
*/

.c-nav {
    font-size: 16px;
    line-height: 22px;
}

.c-nav__link {
    text-decoration: none;
    padding: 8px 0;
    display: inline-flex;
}

.c-nav__link,
.c-nav__link:visited,
.c-nav__link:active {
    color: #DBDAE6;
}

.is-active .c-nav__link,
.c-nav__link:hover,
.c-nav__link:focus {
    color: white;
    font-weight: bold;
}

.c-nav__icon {
    margin-right: 8px;
}

.c-nav-trigger__svg {
    cursor: pointer;
}

.c-nav-profile__img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

@media (min-width: 1022px) {
    .c-nav__list {
        display: flex;
        gap: 40px;
    }
}

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    height: 36px;
}

@media (min-width: 1024px) {
    .c-logo {
        filter: invert(98%) sepia(90%) saturate(41%) hue-rotate(48deg) brightness(109%) contrast(100%); /* filter calculated with: https://codepen.io/sosuke/pen/Pjoqqp */
    }
}

@media (min-width: 1330px) {
    .c-logo {
        height: 50px;
    }
}

.c-logo__white {
    filter: invert(98%) sepia(90%) saturate(41%) hue-rotate(48deg) brightness(109%) contrast(100%);
}

/*
    Component: mobile nav
    ---
    Dedicated mobile nav component
*/

.c-mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    pointer-events: none;
}

.has-mobile-nav .c-mobile-nav {
    pointer-events: auto;
}

.c-mobile-nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.c-mobile-nav__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: #202024;
    transition: opacity .5s ease;
}

.has-mobile-nav .c-mobile-nav__bg {
    opacity: .5;
}

.c-mobile-nav__body {
    position: relative;
    padding: 24px;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform .5s ease;
}

.has-mobile-nav .c-mobile-nav__body {
    transform: translateX(0);
}

.c-page {
    transform: translateX(0);
}

.has-mobile-nav .c-page {
    transform: translateX(25%);
    transition: transform .5s ease;
}

@media (min-width: 768px) {
    .c-mobile-nav__body {
        padding: 48px;
    }
}

@media (min-width: 1022px) {
    /* Hide the mobile nav on larger viewports even whent it's open on smaller screens */
    .c-mobile-nav {
        display: none !important;
    }
}

.c-nav-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    width: 24px;
    height: 24px;
}

.c-nav-trigger__svg {
    fill: #202024;
    height: 100%;
}

/*
    Component: Card
    ---
    A card for showing some information
*/

.c-card {
    background-color: white;
    border-style: solid;
    border-color: #F4F0F0;
    border-radius: 10px;
    border-width: 1px;
    padding: 20px;
    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.c-card__header {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 509px) {
    .c-card__header--with-slider {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 509px) {
    .c-card__header--with-slider > .c-slider {
        display: block;
        width: 100%;
        margin-top: 4px;
    }
}

.c-card__title {
    margin-top: 12px;
    font-size: 16px;
}

.c-card__icon {
    font-size: 2.5em;
}

.c-card__value {
    margin-top: 12px;
    margin-bottom: 18px;
}

.c-card--clickable {
    cursor: pointer;
}

@media (min-width: 576px) {
    .c-card__icon {
        font-size: 3em;
    }

    .c-card__title {
        font-size: 18px;
    }
}

/*
    Component: Label
    ---
    A label that can be used as filter
*/

.c-label {
    display: inline-block;
    
    padding: 8px;
    border-style: solid;
    border-color: #A596FA;
    border-radius: 8px;
    border-width: 2px;
    padding: 8px 16px;
    margin-right: 8px;
    cursor: pointer;
}

.c-label--active {
    color: white;
    background-color: #7057FA;
}

/*
    Component: Switch
    ---
    A switch which can be used to easily change the state of an output
*/

.c-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.c-toggle__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.c-toggle__slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
}

.c-toggle__input {
    opacity: 0;
    width: 0;
    height: 0;
}

.c-toggle__input:focus + .c-toggle__slider {
    box-shadow: 0 0 1px #2196F3;
}

.c-toggle__input:checked + .c-toggle__slider {
    background-color: #2196F3;
}

input:checked + .c-toggle__slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/*
    Component: Switch
    ---
    A switch which can be used to easily change the state of an output
*/

.c-slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 20px;
    background-image: linear-gradient(#7057FA, #472CE6);
    outline: none;
}

.c-slider--lg {
    background: #fff; 
    width: 100%;
}

.c-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-style: solid;
    border-color: #fff;
    background: #4121F8;
    cursor: pointer;
}

.c-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4121F8;
    cursor: pointer;
}

/*
    Component: component description
    ---
    A component description which allows 2 tags next to eachother
*/

.c-component__description {
    padding-bottom: 8px;
}

.c-description__title {
    display: inline;
}

.c-description__value {
    display: inline;
}

/*
    Component: Control
    ---
    A control which has a label and item like a toggle or slider
*/

.c-control-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.c-control-input {
    width: 100%;
    margin: 8px 0;
    padding: 12px 8px;
    border: 2px solid #A596FA;
    border-radius: 8px;
}

.c-control-button {
    background-color: #7057FA;
    color: white;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    margin: 16px 0px;
    padding: 12px 32px;

    cursor: pointer;
}

.c-control-date {
    width: 100%;
    margin: 8px 0;
    padding: 12px 8px;
    border: 2px solid #A596FA;
    border-radius: 8px;
}

/*
    Component: Settings page
    ---
    Some classes for the settings page
*/

.c-settings__description {
    color: #575757;
}

.c-setting {
    display: flex;
    justify-content: space-between;
}

/*
    Component: History timeline
    ---
    A timeline with historical items
*/

.c-history {
    display: flex;
}

.c-history__timeline {
    margin-top: 54px;
    margin-left: 24px;
}

.c-timeline__dot {
    background-color: #BFBECC;
    width: 14px;
    height: 14px;
    border-radius: 7px;
}

.c-timeline__line {
    background-color: #BFBECC;
    width: 2px;
    height: 92px;
    margin-left: 5.3px;
}

.c-history__cards {
    width: 100%;
}

.c-history__card {
    margin-top: 12px;
    margin-left: 24px;
}


/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

/*
    Utilities: text
    ---
    description here...
*/

.u-text-center {
    text-align: center;
}

.u-text-bold {
    font-weight: bold;
}

/*
    Utilities: floating
    ---
    Utility class to change the float property for a html element
*/

.u-float-right {
    float: right;
}

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-bg-theme-gradient {
    background-image: linear-gradient(#7057FA, #472CE6);
    color: white;
}

@media (min-width: 1024px) {
    .u-bg-waves {
        height: 200px;
        background-image: url('../img/wave.svg');
        background-repeat: no-repeat;
        background-size: 170% auto;
        background-position: left top;
    }
}


/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-mt-clear {
    margin-top: 0 !important;
}

.u-mt-xs {
    margin-top: 4px !important;
}

.u-mt-sm {
    margin-top: 8px !important;
}

.u-mt-md {
    margin-top: 24px !important;
}

.u-mt-lg {
    margin-top: 32px !important;
}

.u-mt-xl {
    margin-top: 48px !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-sm {
    max-width: 36em !important;
}

.u-max-width-md {
    max-width: 45em !important;
}

.u-max-width-lg {
    max-width: 60em !important;
}

.u-max-width-xl {
    max-width: 75em !important;
}

.u-max-width-none {
    max-width: none !important;
}

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

.u-flex-basis-auto {
    flex-basis: auto !important;
}

.u-flex-first {
    order: -1;
}

.u-flex-grow-1 {
    flex-grow: 1 !important;
}

.u-1-of-2 {
    flex-basis: calc(100% / 2) !important;
}

.u-1-of-3 {
    flex-basis: calc(100% / 3) !important;
}

.u-2-of-3 {
    flex-basis: calc(100% / 3 * 2) !important;
}

.u-1-of-4 {
    flex-basis: calc(100% / 4) !important;
}

.u-3-of-4 {
    flex-basis: calc(100% / 4 * 3) !important;
}

.u-1-of-5 {
    flex-basis: calc(100% / 5) !important;
}

.u-2-of-5 {
    flex-basis: calc(100% / 5 * 2) !important;
}

.u-3-of-5 {
    flex-basis: calc(100% / 5 * 3) !important;
}

.u-4-of-5 {
    flex-basis: calc(100% / 5 * 4) !important;
}

.u-1-of-6 {
    flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
    flex-basis: calc(100% / 6 * 5) !important;
}

@media (min-width: 355px) {
    .u-1-of-2-xxs {
        flex-basis: calc(100% / 2) !important;
    }
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp1 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp1 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp1 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp1 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp1 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp1 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp1 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp1 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp1 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp1 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp2 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp2 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp2 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp2 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp2 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp2 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp2 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp2 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp2 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp2 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp3 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp3 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp3 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp3 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp3 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp3 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp3 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp3 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp3 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp3 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp4 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp4 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp4 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp4 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp4 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp4 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp4 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp4 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp4 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp4 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
